body {
    text-align: center;
}

#size {
    font-size: large;
    background-color: #bd5464;
    border: none;
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;

}

#grid {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 960px;
}

.row {
    display: flex;
    margin-bottom: 1px;
    gap: 1px;
}

.square {
    box-sizing: border-box;
    background-color: powderblue ;
    flex-shrink: 0;
}

.square:hover {
    border:1px solid black;
}

.clicked {
    transition-duration: 100ms;
}
